@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Contenido no disponible.</h1>
    <h2 class="error">No cuenta con los permisos necesarios para  visualizar la página o su contenido no está disponible.</h2>
</hgroup>
<p>
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Index", "Home", new { Area = "" })"">
  			<i class="icon-arrow-left icon-white"></i>Home
    </a>
</p>
