@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Error del servidor.</h1>
    <h2 class="error">No se encontró la página solicitada.</h2>
</hgroup>

<p>
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("Index", "Home", new { Area = "" })"">
  			<i class="icon-home icon-white"></i>Home
    </a>
</p>