@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Error del servidor.</h1>
    <h2 class="error">No se encontró la página solicitada.</h2>
</hgroup>
