@{
    ViewBag.Title = "Evaluación de proyectos";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                ¡Aquí vamos!
            </p>
        </div>
    </section>
}
<h3>Bienvenido</h3>
<ol class="round">
    <li class="one">
        <h5><a href="@Url.Action("Index", "TipoElemento", new { Area = "Plantilla" })">Proyectos</a></h5>
        ¡Crea tus proyectos!
    </li>
</ol>
