@model ICollection<TesisProj.Areas.Comparacion.Models.Comparar>
@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Comparar Rentabilidad de proyectos</h2>
<br />
@{ Html.Telerik().Grid(Model)
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(o => o.Id)
                   .Template(
                            @<text>
                                <input type='checkbox' name='checkedRecords' value='' />
                            </text>)
                   .Title("")
                   .Width(20)
                   .HtmlAttributes(new { style = "text-align:center" });
            
            columns.Bound(o => o.proyecto.Id).Width(20);
            columns.Bound(o => o.proyecto.Nombre).Width(100);
            columns.Bound(o => o.proyecto.Version).Width(200);
            columns.Bound(o => o.proyecto.Creacion).Format("{0:dd/MM/yyyy}").Width(120);
        })
        .DataBinding(dataBinding => dataBinding.Ajax()
                .Select("_CheckBoxesAjax", "Comparacion"))
        .Scrollable()
        .Pageable()
        .Render();
}

<p>
    <button class="t-button t-state-default" onclick="displayCheckedOrders()">Ver Resultados</button>
    <script type="text/javascript">
        function displayCheckedOrders() {
            var $checkedRecords = $(':checked');
            
            if ($checkedRecords.length < 1) {
                alert('Seleccione al menos un proyecto.');
                return;
            }
           $('#result').load('@Url.Action("DisplayCheckedOrders", "Comparacion")', $checkedRecords);
        }
    </script>
</p>
<div id="result">
</div> 