@model TesisProj.Models.UserProfile
@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Colaborador";
    List<TesisProj.Models.UserProfile> lista = (List<TesisProj.Models.UserProfile>)Session["colaboradores"];
}

@using (Html.BeginForm())
{ 
    @Html.ValidationSummary(true)
    <fieldset>    
        <legend></legend>   
        <div class="editor-label">

        </div>
         @(Html.Telerik().DropDownListFor(model => model.UserId)
            .Name("DropDownList")
            .SelectedIndex(1)
            .BindTo(new SelectList(lista, "UserId", "UserName"))
            .HtmlAttributes(new { style = string.Format("width:{0}px", 100) })
    )
    </fieldset>
}
