@model IEnumerable<TesisProj.Models.UserProfile>
@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Colaboradores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Colaboradores Asignados al proyecto @ViewBag.proyecto</h2>

@(Html.Telerik().Grid(Model)
        .Name("GridColaboradores")
        .DataKeys(keys => 
        {
            keys.Add(p => p.UserId);
        })
        .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.ImageAndText)
                .ImageHtmlAttributes(new {style="margin-left:0"})
                )
        .Editable(editing => editing
                .Mode(GridEditMode.PopUp).TemplateName("TemplateColaborador"))
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("Colaboradores", "Seguridad")
                .Delete("_Delete", "Seguridad")
                .Insert("_Insert", "Seguridad");
        })
        .Columns(columns =>
        {
            columns.Bound(p => p.UserName).Width(210);
            columns.Command(commands =>
            {
                commands.Delete().ButtonType(GridButtonType.ImageAndText);
            }).Width(180).Title("Eliminar");
        })
        .Pageable()
        .Scrollable()
        .Sortable()        
)