@model IEnumerable<TesisProj.Areas.Modelo.Models.Proyecto>
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Colaboradores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Colaboradores para sus proyectos</h1>

@(Html.Telerik().Grid(Model)
    .Name("GridSeguridad")
    .DataKeys(keys => keys.Add(o => o.Id))
    .Columns(columns =>
    {
        columns.Bound(o => o.Nombre);
        columns.Bound(o => o.Version);
        columns.Bound(o => o.Creacion);
        columns.Bound(o => o.Descripcion);
        columns.Bound(o => o.Horizonte);
        columns.Command(commands =>
        {

            commands.Custom("AddSubProducto")
                .Text("Colaboradores")
                .DataRouteValues(c => c.Add(o => o.Id).RouteKey("ProyectoID"))
                .Action("Colaboradores", "Seguridad")
                .HtmlAttributes(new { style = "text-align: center" });
        }).Title("Colaboradores").Width(100);
    })
    .DataBinding(dataBinding => dataBinding.Ajax().Select("Index", "Seguridad"))
    .Pageable()
    .Sortable()
    .Filterable()
)



