@using Telerik.Web.Mvc.UI
@using TesisProj.Areas.Proyectos.Models
@model ICollection<TesisProj.Areas.Modelo.Models.Celda>

<table>
    <tr>
        @foreach (TesisProj.Areas.Modelo.Models.Celda e in Model)
        {
            <th>@e.Parametro.Nombre</th>
        }
    </tr>
    <tr>
        @foreach (TesisProj.Areas.Modelo.Models.Celda e in Model)
        {
            <td>@(Math.Round(e.Valor,2))</td>
        }
    </tr>
</table>