@model ICollection<TesisProj.Areas.Modelo.Models.ProyectoLite>
@using Telerik.Web.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int[] checkedRecords = (int[])ViewData["checkedRecords"];
}

<h2>Comparar Rentabilidad de las versiones</h2>
<br />

<h3>Versiones del proyecto (<span id="IdProyecto">@Session["Nombre"] </span>)</h3>
@{
    Html.BeginForm();
    Html.Telerik().Grid((IEnumerable<TesisProj.Areas.Modelo.Models.ProyectoLite>)ViewData["Versiones"])
        .Name("Versiones")
        .Columns(columns =>
        {
            columns
                .Template(
    @<text>
    <input name="checkedRecords" type="checkbox" value="@item.Id " title="checkedRecords"
                        @if (checkedRecords.Contains(item.Id))
                        {
                            <text>checked="checked"</text>
                        }
 />
    </text>)
                   .Title("")
                   .Width(20)
                   .HtmlAttributes(new { style = "text-align:center" });

            columns.Bound(o => o.Id).Width(20);
            columns.Bound(o => o.Nombre).Width(100);
            columns.Bound(o => o.Version).Width(200);
            columns.Bound(o => o.Fecha).Format("{0:dd/MM/yyyy}").Width(120);
        })
        .Pageable()
        .Scrollable()
        .Render();
}
<p>
    <button type="submit" class="t-button t-state-default">Ver Resultados</button>
</p>
@{ Html.EndForm(); }

@if (checkedRecords.Any())
{

    <table style="width: 100%">
        <tr>
            <td>@{Html.RenderAction("_GraficoVanE", "CompararVersiones");}</td>
            <td>@{Html.RenderAction("_GraficoVanF", "CompararVersiones");}</td>
        </tr>
        <tr>
            <td>@{Html.RenderAction("_GraficoTirE", "CompararVersiones");}</td>
            <td>@{Html.RenderAction("_GraficoTirF", "CompararVersiones");}</td>
        </tr>
    </table>
}
<p>
    <br />
    <br />
    <a class="btn btn-inverse" style="color: #E6F0F2"href="@Url.Action("index", "Home", new { Area = "" })"">
        <i class="icon-arrow-left icon-white"></i>Regresar
    </a>
</p>

<script type="text/javascript">
    function OnChange(e) {
        var Id = e.value;
        $.ajax({
            url: "../../CompararVersiones/Refresh",
            type: 'post',
            data: { Id: Id },
            success: function (data) {
            },
            error: function (jqXHR, textStatus, errorThrown) {
                
            }
        });
        
    }

    function refresh() {
        location.reload();
    }
</script>