@using Telerik.Web.Mvc.UI	
@model ICollection<TesisProj.Areas.IridiumTest.Models.Graphic>
<h1>Tir Financiero</h1>
		@(Html.Telerik().Chart(Model)
			.Name("chartTirProyecto")
			.Legend(legend => legend
				.Position(ChartLegendPosition.Bottom)
				.Visible(true)
                        )
			.Series(series =>
			{
				series.Column(s => s.fx);  // LO QUE DIBUJA LAS BARRAS
			})
			.CategoryAxis(axis => axis
			.Categories(s => s.N) //ETIQUETA DE LAS X
			)
            //.ValueAxis(axis => axis
            //    .Numeric().Labels(labels => labels.Format("{0:N}"))//ETIQUETA DE LAS Y
            //    .MajorGridLines(majorGridLines => majorGridLines.Visible(false))
            //    .PlotBands(plotBands =>
            //          {
            //              plotBands.Add().Color("#13558E").From(0).To(12000).Opacity(0.3);
            //          })
            //      )
			.Tooltip(tooltip => tooltip
				.Visible(true)
				.Format("{0:N}")
			)
			.HtmlAttributes(new { style = "width: 400px; height: 200px; margin: auto;" })
		)