@{
    ViewBag.Title = "Página secreta";
}
<title>@ViewBag.Title</title>
<h2>Load Xml</h2>

@using (Html.BeginForm("LoadXml", "Proyecto", new { Area = "Modelo" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <input type="file" name="file" id="file" />
    <input type="submit" value="Cargar" />
}